global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'talentai_backend'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['backend:8080']