spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/talent_ai
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update   # pour dev
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never

server:
  port: 8080
