spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/talent_ai
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never

ollama:
  url: http://localhost:11434
  model: llama3

server:
  port: 8080